//- http://html2jade.aaron-powell.com/  其他的功能慢慢加
extends layout
append styles
    link(rel='stylesheet', href='/stylesheets/tools/html2jade.css')
append scripts
    script(src='/javascripts/tools/html2jade.js')
block content
    header
        h1 HTML to Jade converter
    section(role='main')
        form(method='post')
            fieldset
                legend HTML
                label(for='html') HTML:
                textarea#html(name='html')
            fieldset
                legend Jade
                label(for='jade') Jade:
                textarea#jade(name='jade')
            fieldset.actions
                button.to-jade(type='submit') Convert!
