doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title= title
    block head-sub
    //- bootstrap
    block styles
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    //- jquery bootstrap
    block scripts
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
        //- 不要用 Echarts 2 了, 好难用啊
        script(src='https://cdnjs.cloudflare.com/ajax/libs/echarts/3.6.1/echarts.js')
