body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h2 {
    margin: 0 0 .5em 0;
}
a {
    color: #00B7FF;
}
#wrapper {
    padding-left: 312px;
    position: relative;
}
#userList {
    margin: 0 0 30px 0;
}
#userList table {
    border-collapse: separate;
    border-spacing: 1px;
    background: #CCC;
}
#userList table th {
    background: #EEE;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}
#userList table tbody {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0px;
}
#userList table td {
    background: #FFF;
    padding: 5px 10px;
    text-align: center;
}
#userInfo {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
#userInfo p {
    padding: 15px;
    border: 1px solid #CCC;
    background: rgba(80, 120, 255, 0.05);
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}


/* for sign-in.pug */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
