extends layout
append styles
    link(rel="stylesheet" href="/stylesheets/about-welcome.css")
block content
    section.intro
        .inner
            .content
                h1 Breath Easy
                a.btn Get Started
    p.
        I am so greatful for each and every experience that life has had to offer me and I'm honestly humbled to be part of each and every wedding.
        I am right there documenting this amazing moment..., it is crazy bananas when you really stop and think about it! While I take this
        responsibility of very seriously.
        I do strive to create a comfortable, relaxed atmosphere so you are free to be you.
