doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')
    //- jquery 可以写到最上面, 但 global.js 中有 ready(), 所以也可以写到前面
  body
    block content
