extends layout
block content
    .logo
    #frame1.row
        .input-group
            input#input1.form-control(type='text', placeholder='请输入要搜索的内容...')
            span.input-group-btn
                button#btn.btn.btn-default(type='button', onclick='myfuc()') Guoke搜索
    hr#hid
    .foot 信息检索导论 新闻搜索类型@2017 All Right Reserved
