extends layout
block content
    #wrap
        #box1
            a(href='') #[img(src='images/search-engine/zhongkeyuan.jpg', alt='中科院')]
            .font 国科大搜索引擎
        #box2
            input(type='text', name='q')
            .img-wrap #[img(src='images/search-engine/search.png')]
