doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        title= title
        block head-sub
        //- bootstrap
        block styles
            link(rel='stylesheet', href='/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
            link(rel='stylesheet', href='/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/search-engine/interface.css')

            //- 下面的是 ./index-caitian.pug 用到了
            //- link(rel='stylesheet', href='/stylesheets/search-engine/css.css')

    body
        block content
        //- jquery bootstrap
        block scripts
            script(src='/cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
            script(src='/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
